p {
    white-space: pre-wrap;
    text-indent: 50px;
}

.outer_chat {
    padding: 10px;
    height: 85%;
    background-clip: content-box;
    background-color: gray;  
    overflow: hidden;
}

.inner_chat {
    height: 100%;
    text-wrap: wrap;
    word-wrap: break-word;
    overflow-y: scroll;
    overscroll-behavior: none;
}

.bottom_bar {
    height: 15%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.connect_button {
    width: 20%;
    margin-right: 10px;    

}

.user_message {
    width: 80%;
    text-align: left;
}